{{include file="home/header.html"}}
    <div class="mbg">
		<div class="main clearfix">
			<div class="sidebar">
           		<!--subnav-->
            	<div class="subnav">
                	<div class="box-t"></div>
                    <ul class="bl">
                    	<h2>catagories</h2>
                    	<li>● Dissociative</li>
                            <ul style="display: none;">
                                <li><a href="###">Methoxetamine</a></li>
                            </ul>
                        <li>● Hallucinogenic</li>
                            <ul style="display: none;">
                                <li><a href="###" >5-MeO-DALT</a></li>
                                <li><a href="###" >25i-NBOMe</a></li>
                                <li><a href="###" >25C-NBOMe</a></li>
                                <li><a href="###" >25B-NBOMe</a></li>
                            </ul>
                    </ul>
                    <div class="box-b"></div>
                </div>
                <!--subnav end-->
          		<!--info-->
            	<div class="info">
                	<div class="box-t"></div>
                    <div class="ic1">
                    	<div class="ic2">
                        	<h2>Dear Customers!</h2>
                            <p>Currently we produce a reorganization of our online orders system. Within the nearest time we will show you a convenient system for tracking orders and communicate with our managers. If you want to order some kind of our products please use our <a href="###">current order form.</a></p><i>Thank you for understanding!</i>
                        </div>
                    </div>
                    <div class="box-b"></div>
                </div>
                <!--info end-->
                <!--nbanner-->
                <div class="nbanner"><div class="nbtn"><a class="radius20" href="###">CLICK</a></div></div>
                <!--nbanner end-->
            </div>
            <div class="content">
            	<h1>PRODUCTS</h1>
				<div class="guide">Hallucinogenic ><b>THJ-2201</b></div>
                <div class="info">
                    <div class="photo">
                        <div class="bd">
                            <div class="pic"> <a href="###"> <img src="{{$images}}home/test01.jpg"> <i></i> <em>MORE<br>
                                INFO</em>
                                <div class="color">
                                    <p style="background-color:#069;"></p>
                                    <p style="background-color:#0C3;"></p>
                                    <p style="background-color:#363;"></p>
                                    <p style="background-color:#0C3;"></p>
                                    <p style="background-color:#363;"></p>
                                </div>
                                </a></div>
                        </div>
                        <div class="mb radius20"></div>
                        <!--banner-->
                        <div id="nslides">
                          <img src="{{$images}}home/test08.jpg">
                          <img src="{{$images}}home/test08.jpg">
                          <img src="{{$images}}home/test08.jpg">
                        </div>
                        <script>
                          $(function() {
                            $('#nslides').slidesjs({
                              width: 680,
                              height: 330,
                              play: {
                                active: true,
                                auto: true,
                                interval: 6000
                              }
                            });
                          });
                        </script>
                        <!--banner end-->
                    </div>
                    <!--left-->
                    <div class="left">
                    	<dl>
                        	<dt>Formula:</dt>
                            <dd>C<small>23</small>H<small>21</small>FN<small>2O</small></dd>
                            <dt>CAS number of substance:</dt>
                            <dd>——</dd>
                            <dt>Molar mass of the substance:</dt>
                            <dd>360.4</dd>
                            <dt>Full chemical name:</dt>
                            <dd>——</dd>
                            <dt>Other names:</dt>
                            <dd>THJ2201</dd>
                            <dt>color:</dt>
                            <dd>
                                <div class="color">
                                    <p style="background-color:#069;"></p>
                                    <p style="background-color:#0C3;"></p>
                                    <p style="background-color:#363;"></p>
                                    <p style="background-color:#0C3;"></p>
                                    <p style="background-color:#363;"></p>
                                </div>
                             </dd>
                        </dl>
                    </div>
                    <!--left end-->
                    <!--right-->
                    <div class="right">
                        <div class="price radius20">
                            <div class="hot radius20">
                                <div class="btn"><a href="###">login to view</a></div>
                                <small>most popular package</small>
                                <p><b>★</b>100g<span>***USD</span></p>
                            </div>
                            <div class="list">
                                <small class="clearfix">Also available in next packages</small>
                                <ul>
                                    <li style="border-top:0px;"><div class="btn"><a href="###">login to view</a></div>200g  .....*** USD</li>
                                    <li><div class="btn"><a href="###">login to view</a></div>300g  .....*** USD</li>
                                    <li><div class="btn"><a href="###">login to view</a></div>400g  .....*** USD</li>
                                    <li><div class="btn"><a href="###">login to view</a></div>500g  .....*** USD</li>
                                    <li><div class="btn"><a href="###">login to view</a></div>1000g ...*** USD</li>
                                    <li style="border-bottom:0px;"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="booking"><a class="radius20" href="###">Order now</a></div>
                        <div class="order">You should have account in our <a href="###">Orders System</a></div>
                    </div>
                    <!--right end-->
                    <!--explain-->
                    <div class="explain">
                    	<i></i>
                    	<h2>What you need to know to order THJ-2201</h2>
                        <p>The rarer a compound is the more difficult it is to find. If the quality specifications attached to the requirements are especially tough then finding a particular compound can become even more difficult. THIRTYLONE is one such compound. People buy THJ-2201 for a wide variety of purposes but it also needs different kinds of treatments for different application.</p>
                        <p>The rarer a compound is the more difficult it is to find. If the quality specifications attached to the requirements are especially tough then finding a particular compound can become even more difficult. THIRTYLONE is one such compound. People buy THJ-2201 for a wide variety of purposes but it also needs different kinds of treatments for different application.</p>
                        <p>The rarer a compound is the more difficult it is to find. If the quality specifications attached to the requirements are especially tough then finding a particular compound can become even more difficult. THIRTYLONE is one such compound. People buy THJ-2201 for a wide variety of purposes but it also needs different kinds of treatments for different application.</p>
                    </div>
                    <!--explain end-->
                </div>
            </div>
        </div>
    </div>
{{include file="home/footer.html"}}
