{{include file="home/header.html"}}
    <div class="mbg">
		<div class="main clearfix">
			<div class="sidebar">
           		<!--subnav-->
            	<div class="subnav">
                	<div class="box-t"></div>
                    <ul class="bl">
                    	<h2>catagories</h2>
                    	<li>● Dissociative</li>
                            <ul style="display: none;">
                                <li><a href="###">Methoxetamine</a></li>
                            </ul>
                        <li>● Hallucinogenic</li>
                            <ul style="display: none;">
                                <li><a href="###" >5-MeO-DALT</a></li>
                                <li><a href="###" >25i-NBOMe</a></li>
                                <li><a href="###" >25C-NBOMe</a></li>
                                <li><a href="###" >25B-NBOMe</a></li>
                            </ul>
                    </ul>
                    <div class="box-b"></div>
                </div>
                <!--subnav end-->
          		<!--info-->
            	<div class="info">
                	<div class="box-t"></div>
                    <div class="ic1">
                    	<div class="ic2">
                        	<h2>Dear Customers!</h2>
                            <p>Currently we produce a reorganization of our online orders system. Within the nearest time we will show you a convenient system for tracking orders and communicate with our managers. If you want to order some kind of our products please use our <a href="###">current order form.</a></p><i>Thank you for understanding!</i>
                        </div>
                    </div>
                    <div class="box-b"></div>
                </div>
                <!--info end-->
                <!--nbanner-->
                <div class="nbanner"><div class="nbtn"><a href="###">CLICK</a></div></div>
                <!--nbanner end-->
            </div>
            <div class="content">
            	<h1>PRODUCTS</h1>
                <!--products-list-->
                <div class="bd clearfix">
                    <ul class="picList">
                        <li>
                            <div class="pic"> <a href="###"> <img src="{{$images}}home/test01.jpg"> <i></i> <em>MORE<br>
                                INFO</em>
                                <div class="color">
                                    <p style="background-color:#069;"></p>
                                    <p style="background-color:#0C3;"></p>
                                    <p style="background-color:#363;"></p>
                                    <p style="background-color:#0C3;"></p>
                                    <p style="background-color:#363;"></p>
                                </div>
                                </a></div>
                            <div class="title"><a href="###">THJ-2201</a></div>
                        </li>
                        <li>
                            <div class="pic"> <a href="###"> <img src="{{$images}}home/test02.jpg"> <i></i> <em>MORE<br>
                                INFO</em>
                                <div class="color">
                                    <p style="background-color:#069;"></p>
                                    <p style="background-color:#0C3;"></p>
                                </div>
                                </a></div>
                            <div class="title"><a href="###">NM-2201</a></div>
                        </li>
                        <li>
                            <div class="pic"> <a href="###"> <img src="{{$images}}home/test03.jpg"> <i></i> <em>MORE<br>
                                INFO</em> </a></div>
                            <div class="title"><a href="###">FDU-PB-22</a></div>
                        </li>
                        <li>
                            <div class="pic"> <a href="###"> <img src="{{$images}}home/test04.jpg"> <i></i> <em>MORE<br>
                                INFO</em> </a></div>
                            <div class="title"><a href="###">THJ-2201</a></div>
                        </li>
                        <li>
                            <div class="pic"><a href="###"><img src="{{$images}}home/test05.jpg"><i></i><em>MORE<br>
                                INFO</em></a></div>
                            <div class="title"><a href="###">NM-2201</a></div>
                        </li>
                        <li>
                            <div class="pic"> <a href="###"> <img src="{{$images}}home/test06.jpg"> <i></i> <em>MORE<br>
                                INFO</em>
                                <div class="color">
                                    <p style="background-color:#069;"></p>
                                    <p style="background-color:#0C3;"></p>
                                    <p style="background-color:#363;"></p>
                                    <p style="background-color:#0C3;"></p>
                                    <p style="background-color:#363;"></p>
                                </div>
                                </a></div>
                            <div class="title"><a href="###">FDU-PB-22</a></div>
                        </li>
                        <li>
                            <div class="pic"> <a href="###"> <img src="{{$images}}home/test04.jpg"> <i></i> <em>MORE<br>
                                INFO</em> </a></div>
                            <div class="title"><a href="###">THJ-2201</a></div>
                        </li>
                        <li>
                            <div class="pic"><a href="###"><img src="{{$images}}home/test05.jpg"><i></i><em>MORE<br>
                                INFO</em></a></div>
                            <div class="title"><a href="###">NM-2201</a></div>
                        </li>
                        <li>
                            <div class="pic"> <a href="###"> <img src="{{$images}}home/test06.jpg"> <i></i> <em>MORE<br>
                                INFO</em>
                                <div class="color">
                                    <p style="background-color:#069;"></p>
                                    <p style="background-color:#0C3;"></p>
                                    <p style="background-color:#363;"></p>
                                    <p style="background-color:#0C3;"></p>
                                    <p style="background-color:#363;"></p>
                                </div>
                                </a></div>
                            <div class="title"><a href="###">FDU-PB-22</a></div>
                        </li>
                    </ul>
                </div>
                <!--products-list end-->
                <div class="scott">
                    <span class="disabled"> < </span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a>...<a href="#?page=200">200</a><a href="#?page=2"> > </a>
                </div>
                
            </div>
        </div>
    </div>
{{include file="home/footer.html"}}
