    <div class="footer">
    	<div class="warp">
        	<div class="blogo">
            	<a href="/">ice chemical industry</a>
            </div>
            <div class="copyright">Copyright © 2013-2015 jingcheng.com All rights reserved</div>
            <ul class="bnav">
            	<li><a href="###">Products</a></li>
                <li><a href="###">FAQ</a></li>
                <li><a href="###">About</a></li>
                <li><a href="###">Contact us</a></li>
            </ul>
        </div>
    </div>
</body>
</html>